# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.gitignore
.idea/inspectionProfiles/
src/main/resources/
target/generated-sources/
target/generated-test-sources/

src/main/Cart.java
src/main/CashStrategy.java
src/main/DeliveryStrategy.java
src/main/DiscountCart.java
src/main/PaymentStrategy.java
src/main/PayPalStrategy.java
